/*Here you find the styling for the index.html */
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru");
/* line 5, article.sass */
#body_article {
  margin-left: auto;
  margin-right: auto; }

/* line 10, article.sass */
.article_main {
  width: 100%;
  height: auto;
  margin: 0 0 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* line 18, article.sass */
.bordered_bar {
  font-size: 1.5vmax;
  max-width: 90vw;
  border: 1px solid;
  background-color: #DEDEDE;
  margin: 3vw;
  padding: 1vw;
  text-align: center; }

/* line 28, article.sass */
.float_container {
  width: 90%;
  background-color: #DEDEDE;
  margin: 0 auto 2vw auto; }

/* line 33, article.sass */
.float_container p {
  padding: 2vw; }

/* line 36, article.sass */
.article_main img {
  width: 20vw;
  padding: 1vw; }

/* line 40, article.sass */
.floated {
  width: 22vw;
  height: auto;
  float: left;
  padding: 1vw; }

/* line 2, video.sass */
iframe {
  width: 20vw;
  height: 20vw;
  padding: 1vw; }

/* line 15, index.sass */
body {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 1.5vw;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 300px; }

/* line 24, index.sass */
* {
  transition: 0.5s; }

/* line 27, index.sass */
img, iframe {
  border-radius: 2vw;
  opacity: 0.8; }

/* line 31, index.sass */
img:hover {
  opacity: 1; }

/* line 34, index.sass */
.body_wrapper {
  flex: 1; }

/* line 37, index.sass */
h5 {
  text-align: right;
  margin-right: 1.2vw; }

/*That's where the header got styled */
/* line 42, index.sass */
.header_top {
  background-color: #541011;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
  justify-content: space-around; }

/* line 51, index.sass */
.header_top a {
  margin: 0;
  padding: 0; }

/* line 55, index.sass */
.header_top img {
  max-width: 100%;
  min-width: 0;
  height: auto;
  padding: 1.5vw;
  object-fit: contain; }

/*CSS for the main part */
/* line 63, index.sass */
main {
  margin: 2vw; }

/* line 66, index.sass */
.mini_flex {
  width: 100%;
  height: auto;
  position: relative;
  margin: 1vw;
  font-size: 1vw; }

/* line 73, index.sass */
.img_p {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 4.4vw;
  border-radius: 1vw; }

/* line 83, index.sass */
.img_p p {
  padding: 0 1vw 0 1vw;
  font-size: 1.1vw; }

/* line 87, index.sass */
.wrapper_main {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

/* line 93, index.sass */
.wrapper_1.row {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

/* line 100, index.sass */
.wrapper_2columns {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  justify-content: space-between; }

/* line 107, index.sass */
.wrapper_6image_bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-between; }

/* line 115, index.sass */
.banner_img, .banner_cf {
  width: 100%;
  max-width: 20vw;
  height: auto;
  margin: 1vw 1vw 1vw 0; }

/* line 121, index.sass */
.top_news_img, .popular_img {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  justify-content: space-between; }

/* line 128, index.sass */
.grey_bar {
  background-color: #DEDEDE;
  padding: 0.5vw;
  margin: 0 1vw 0 1vw; }

/* line 134, index.sass */
.grey_bar2 {
  background-color: #DEDEDE;
  padding: 0.5vw;
  margin: 0 1vw 0 1vw; }

/* line 139, index.sass */
.top_news_img img, .popular_img img {
  width: 26vw;
  height: auto; }

/* line 143, index.sass */
.banner_img img {
  width: 100%;
  height: 100%; }

/*second row of main */
/* line 148, index.sass */
.wrapper_2row {
  width: 90%;
  align-self: center;
  flex: 0 0 auto; }

/* line 153, index.sass */
.wrapper_2row img {
  width: 100%; }

/*third row of main */
/* line 157, index.sass */
.wrapper_3row {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap; }

/* line 163, index.sass */
.wrapper_6image_barV2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: space-between; }

/* line 171, index.sass */
.popular_img_4rows_x1, .popular_img_4rows_x2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap; }

/* line 178, index.sass */
.wrapper_3row img {
  width: 40vw; }

/* line 181, index.sass */
.banner_cf img {
  width: 100%;
  height: 100%; }

/*part for the Top-navbar styling */
/* line 186, index.sass */
nav {
  width: 100%; }

/* line 189, index.sass */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #131313;
  overflow: hidden; }

/* line 196, index.sass */
ul li {
  float: left; }

/* line 199, index.sass */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1.1vw;
  text-decoration: none; }

/* line 206, index.sass */
li a:hover {
  background-color: #DEDEDE;
  color: black; }

/* line 210, index.sass */
footer {
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  background-color: #131313;
  color: white;
  display: flex;
  flex-direction: column; }

/* line 219, index.sass */
footer img {
  align-self: flex-end;
  width: 18vw;
  max-width: 100%;
  min-width: 0;
  height: auto;
  padding: 1vw; }

/* line 227, index.sass */
footer h3 {
  align-self: center; }

/*Necessary for Layout fixing */
/* line 231, index.sass */
#hidden_pic {
  display: none; }

/* line 234, index.sass */
#hidden_pic_2 {
  display: none; }

/* line 237, index.sass */
#hide_me {
  display: none; }

@media screen and (max-width: 800px) {
  /* line 241, index.sass */
  body {
    font-size: 2.2vw; }

  /* line 244, index.sass */
  .img_p p {
    font-size: 1.5vw; }

  /* line 247, index.sass */
  .banner_cf, .banner_img, #hide_header_pic {
    display: none; }

  /* line 250, index.sass */
  .top_news_img img, .popular_img img, .wrapper_3row img {
    width: 100%; }

  /* line 253, index.sass */
  .wrapper_3row p {
    min-height: 3vw; } }
@media screen and (max-width: 480px) {
  /* line 259, index.sass */
  body {
    font-size: 3vw; }

  /* line 262, index.sass */
  p {
    font-size: 4vw;
    min-height: 3vw; }

  /* line 267, index.sass */
  #banner_cf, .banner_img, h5, .wrapper_2row, #hide_header_pic {
    display: none; }

  /* line 270, index.sass */
  #hidden_pic_2, #hidden_pic {
    display: block; }

  /* line 273, index.sass */
  #hide_pic {
    display: none; }

  /* line 277, index.sass */
  #hidden_pic img {
    width: 39vw;
    height: auto;
    margin: 1vw 2vw 1vw -2px; }

  /* line 282, index.sass */
  .mini_flex {
    width: 40vw; }

  /* line 285, index.sass */
  .top_news_img img, .popular_img img, .popular_img_4rows img, .wrapper_3row img {
    width: 100%;
    height: auto; }

  /* line 289, index.sass */
  .img_p {
    width: 100%; }

  /* line 292, index.sass */
  #hidden_pic {
    margin: 0; }

  /* line 296, index.sass */
  .top_news_img, .popular_img, .popular_img_4rows, .wrapper_3row {
    flex-wrap: wrap; }

  /* line 299, index.sass */
  .wrapper_3row {
    justify-content: space-between; }

  /* line 302, index.sass */
  .wrapper_6image_barV2 {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between; }

  /* line 307, index.sass */
  .popular_img_4rows_x1, .popular_img_4rows_x2 {
    justify-content: space-between;
    width: 100%; }

  /* line 312, index.sass */
  .header_top img {
    margin-right: auto;
    margin-left: 0; }

  /* line 317, index.sass */
  nav {
    list-style: none;
    text-align: center !important; }

  /* line 321, index.sass */
  nav li {
    margin: auto;
    display: inline;
    float: none; }

  /* line 326, index.sass */
  nav a {
    display: inline-block;
    font-size: 3vw; }

  /* line 331, index.sass */
  footer img {
    align-self: center !important;
    width: 28vw; }

  /* line 335, index.sass */
  footer h3 {
    font-size: 3vw; } }

/*# sourceMappingURL=index.css.map */
